.PokemonTile {
    height: 120px;
    margin: 0px 20px 60px 20px;
    display: flex;
    flex-direction: row-reverse;
    border-radius: 20px;
    cursor: pointer;
}

.PokemonTile img{
    margin: 0px 10px 0px 0px;
    height: 150px;
    width: 150px;
    align-self:center;
}

.PokemonTile .data {
    margin: 0px auto 0px 15px;
}

.PokemonTile .data #id{
    font-size: 18px;
    margin:  10px 0px 0px 0px;
}
.PokemonTile .data #nome{
    margin: 0;
    color: whitesmoke;
    font-size: 30px;
    font-weight:600;
    text-transform: capitalize;
}

.PokemonTile #pokemon{
    position:absolute;
    margin: 0px 0px 55px 0px;
}

.PokemonType{
    display: flex;
    flex-direction: row;
}
