.Screen {
    position: relative; /* Definido como relativo */
    display: flex;
    flex-direction: row-reverse;
    height: 100%;
    width: 100%;
}

.Screen img {
    position: absolute; /* Definido como absoluto */
    height: 400px;
    width: 400px;
    margin-left: auto;
    right: -60px;
    top: -110px;
}
.Screen .infoPok{
    margin-right: auto;
}
.Screen .infoPok #id {
    font-size: 20px;
    font-weight: 600;
    color: white;
    margin: 15px 0px 0px 20px;
}

.Screen .infoPok #name {
    text-transform: capitalize;
    color: white;
    font-weight: 600;
    font-size: 32px;
    margin: 0px 0px 0px 20px;
}

.Status {
    background-color: white;
    height: 4000px;
    margin: 0px 20px 20px 20px;
    border-radius: 15px;
    position: relative; 
}

.Status #pok {
    margin-left: 40%;
    
}

.Status #pok img{
    position: absolute;
    height: 250px;
    top:-140px
}

.Status #pok .pokType{
    display: flex;
    justify-content: center ;
    width: 280px;
    flex-direction: row;
    margin: 110px 0px 0px -25px;
}

.Status .Info{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10px 0px 0px 0px;
    position: relative;
   
}

.Status .Info #Info{
    margin: 0px 0px 0px 45%;
    font-size: 45px;
    flex: 0;

}




@media only screen and (max-width: 1100px) {
    .Status{
        margin-top: 130px;
        
    }
    .Status #pok {
        margin-left: 33%;
        
    }
    .Status #pok img{
        position: absolute;
        height: 200px;
        top:-130px
    }
    
    .Status #pok .pokType{
        display: flex;
        margin: 80px 0px 0px -25px;
    }
    .Status #pok img{
        top:-140px
    }
    .Status .Info #Info{
        font-size: 45px;
    
    }
    
  }

  @media only screen and (max-height: 1100px){
    .Status #pok img{
        height: 220px;
        top: -170px;
        margin: 0px 0px 0px 10%
    }
    .Status #pok .pokType{
        margin-left: 12%;
        margin-top: 40px;
    }
    .Status .Info #Info{
        margin: 0px 0px 0px 47%;
    }
  }