.Screen {
    position: relative; 
    display: flex;
    flex-direction: row-reverse;
    height: 100%;
    width: 100%;
}

.Screen img {
    position: absolute; 
    height: 600px;
    width: 600px;
    margin-left: auto;
    right: -150px;
    top: -150px;
}
.Screen .infoPok{
    margin-right: auto;
}
.Screen .infoPok #id {
    font-size: 20px;
    font-weight: 600;
    color: white;
    margin: 15px 0px 0px 20px;
}

.Screen .infoPok #name {
    text-transform: capitalize;
    color: white;
    font-weight: 600;
    font-size: 32px;
    margin: 0px 0px 0px 20px;
}

.Status {
    background-color: white;
    height: 2000px;
    margin: 0px 20px 20px 20px;
    border-radius: 15px;
    position: relative; 
}

.Status #pok {
    margin-left: 40%;
    
}

.Status #pok img{
    position: absolute;
    height: 250px;
    top:-140px
}

.Status #pok .pokType{
    display: flex;
    justify-content: center ;
    width: 280px;
    flex-direction: row;
    margin: 110px 0px 0px -25px;
}

.Status .Info{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 10px 0px 0px 0px;
    position: relative;
   
}

.Status .Info #Info{
    margin: 0px 0px 0px 45%;
    font-size: 45px;
    flex: 0;

}

.Status .Info .GeneralStats{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    padding-left: 2%;
}

.Status .Info .GeneralStats .Peso, .Altura, .Sexo{
    display: flex;
    flex-direction: row;
    border-bottom: 4px solid #cdcdcd;
    width: 32%;
    height: 50px;
}



.Status .Info .GeneralStats  .Altura{
    border: 4px solid #cdcdcd;
    border-top: none;
}

.Status .Info .GeneralStats h1{
    font-size: 24px;
    margin: 5px 0px 0px 0px;
    color: #888484
}

.FontAwesomeIcon{
    height: 40px;
    margin: 0px 40px 0px 40px;
}

.SpecificStats{
    display: flex;
    margin-left: 1%;
}

.Stat{
    width: 50%;
}

#Stat{
    font-size: 36px ;
    margin-left: 30%;
    margin-top: 30px;
    margin-bottom:30px ;
}

.gridContainer{
    width: 50%;
}

.gridContainer h1{
    font-size: 29px ;
    margin-left: 20%;
    margin-top: 30px;
    margin-bottom:0px ;
}

.Grid{
    margin: 50px 0px 0px 50px;
    height: 20%;
}


@media only screen and (max-height: 1100px){
    .Status #pok img{
        height: 220px;
        top: -170px;
        margin: 0px 0px 0px 0%
    }
    .Status #pok .pokType{
        
        margin-left: 0%;
        margin-top: 40px;
    }
    .Status .Info #Info{
        margin: 0px 0px 0px 47%;
    }
  }
 


@media only screen and (max-width: 900px) {
    .Status {
        background-color: white;
        height: 4000px;
        margin: 0px 20px 20px 20px;
        border-radius: 15px;
        position: relative; 
    }
    
    .Status{
        margin-top: 130px;
        
    }
    .Status #pok {
        margin-left: 33%;
        
    }
    .Status #pok img{
        position: absolute;
        height: 200px;
        height: 250px;
        margin: 0px;
        top:-170px
    }
    
    .Status #pok .pokType{
        display: flex;
        margin: 80px 0px 0px -25px;
    }
   
    .Status .Info #Info{
        font-size: 45px;
    
    }
    
  }




  