.Type{
    display: inline-block;
    background-color:#fbe870;
    height: 20px;
    border-radius: 20px;
    padding: 3px 20px 5px 20px;
    margin: 0px 10px 0px 0px;
    box-shadow:  2px 2px 2px  rgba(0,0,0,0.30);
}
.Type p{
    background-color: transparent;
    margin: 0px 0px 0px 0px;
    color: white;
}