footer{
    background-color: #CC3D39 ;
    padding: 20px;
    border-top: solid #792524 10px;
    margin-top: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}


.BackPage{
    background-color: white;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.NextPage{
    background-color: white;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    cursor: pointer;
}
.NextPage img{
    transform: scaleX(-1);
}
.Disabled{
    height: 50px;
    width: 50px;
}

.Page{
    background-color: white;
    margin: 0px 10px 0px 10px;
    height: 50px;
    width: 80px;
    border-radius: 40px;
    text-align: center;
}

.Page h1{
    margin-top: 7px;
    font-size: 28px;
    color: #8E2C2B;
}

img{
    height: 40px;
    margin: 5px 0px 0px 3px;

}
