#root{
    background-color: white;
}
.InfoTile{
    width: 300px;
    margin: 15px 0px 40px 20px
}

.InfoTile h1{
    color: #8E2C2B;
    margin: 0px 0px 0px 0px;
}

.InfoTile p{
    color: #727376;
}

.InfoTile #linha{
    width: 235px;
    height: 5px;
    border-radius: 5px;
    background: #8E2C2B;
}
