html{
    width: 100%;
    height: 100%;
}

body{
    margin: 0;
    font-family: 'Nunito', sans-serif;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    
    
}

#root{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    
}